@using Common.Models
@model List<UserDTO>

<h2>Users</h2>

<!-- Hlavný formulár pre hromadné mazanie -->
<form asp-action="DeleteSelected" method="post">

    <table class="table">
        <thead>
            <tr>
                <th>Select</th>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="selectedIds" value="@user.PublicId" />
                    </td>

                    <td>@user.Id</td>

                    <td>
                        <a href="@Url.Action("UserDetail", "Home", new { userPublicId = user.PublicId })">
                            @user.Name
                        </a>
                    </td>

                    <td>@user.Email</td>

                    <td>
                        <a class="btn btn-warning btn-sm"
                           href="@Url.Action("EditUser", "Home", new { userPublicId = user.PublicId })">
                            Edit
                        </a>

                        
                        <button type="submit"
                                formaction="@Url.Action("DeleteUser", "Home", new { userPublicId = user.PublicId })"
                                formmethod="post"
                                class="btn btn-danger btn-sm"
                                onclick="return confirm('Naozaj chceš odstrániť tohto používateľa?');">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    
    <button type="submit"
            class="btn btn-danger"
            onclick="return confirm('Naozaj chceš odstrániť všetkých označených používateľov?');">
        Delete Selected
    </button>

</form>

<a class="btn btn-success" href="@Url.Action("CreateUser", "Home")">+ Create New User</a>
